.outerBody{
    background-color: black;
    margin: auto;
    height: 500px;
    width:  300px;
    border: 1px solid black;
}

.outerBody button{
    width: 75px;
    height: 75px;
    border: 2px solid black;
    font-size: large;
}

.upperBtn{
    display: flex;
}

.midBtn{
    display: flex;
    flex-wrap: wrap;
}

.lowerBtn{
    display: flex;
}

.screen{
    height: 100px;
    width:auto;
    background-color: #F0F8FF;
    margin: 12px;
    align-items: center;
}

.zeroBtn{
    flex-grow: 2;
}

.equalBtn{
    flex-grow: 2;
}

.backspaceBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.backspaceBtn img{
    width: 75px;
    height: 75px;
}

button.clear{
    background-color: red;
}

button.operand{
    background-color: grey;
}

button.operator{
    background-color: yellow;
}